body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("../../Resources/images/spaceneedle.jpg");
    background-size: cover;
    background-position: 0% 15%;
    height: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
