<!-- 
This version works with buildMap to populate the map with markers based on filters applied.
We'll need to figure out how to merge.
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
     <script>
      $(document).ready(function(){
          $("button").click(function(){
              alert("jQuery is working perfectly.");
          });      
      });
      </script>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seattle Airbnb</title>
     <link rel="icon" type="image/x-icon" href="Resources/images/favicon.png">
     <link
       rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
       crossorigin="anonymous"
     />
     <link rel="stylesheet" href="../static/css/style.css">
 </head>
 <body class="bg-dark">
     <div class="wrapper">
         <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
             <a class="navbar-brand" href="index.html">Seattle Airbnb Prices</a>
         </nav>
     </div>
     <div class="jumbotron">
         <h1 class="display-4">Find Your Perfect Stay in Seattle
         </h1>
     </div>
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-4"> 
                 <h3 style="color:white">Seattle Airbnb <small><br>Find Your Perfect Stay</small></h3>
                 <!-- <p style="color:white">
                  Please fill out form below for a price range prediction of your future stay!
                  </p> -->
              </div>
             <div class="col-md-8">
                 <p style="color:white">
                 Would you like to visit Seattle? Experience attractions such as the Space Needle? Maybe you would like to visit beautiful Mt. Rainer? Let planning and budgeting be one less worry and use this interactive tool to help budget your future stay!
                 </p>
             </div>
         </div>
     </div>
    </div> 
        <div class="row">
           <div class="col-sm">
            <form action="/predict" method="POST">
              <label for="listing_id" style="color:white"> Number to Accomodate: </label>
              <select id="selAccomodation"></select>
              <br> 
            <form action="/predict" method="POST">
               <label for="listing_id" style="color:white"> Airbnb's Listing ID: </label>
               <select id="selID"></select>
               <br>
               <label for="month" style="color:white"> Month (1-12): </label>
               <select id="selMonth"></select>
               <br>
               <input type="submit" value="Submit">
             </form>
           </div>
           <div id="map" class="col-md-8"></div>
         </div>
       </div>
       <!-- <table>
         <thead>
           <tr>
             <th>Listing Id</th>
             <th>City</th>
             <th>State</th>
             <th>Zip Code</th>
             <th>Latitude</th>
             <th>Longitude</th>
             <th>Accommodates</th>
             <th>Bathrooms</th>
             <th>Bedrooms</th>
             <th>Beds</th>
             <th>Price</th>
             <th>Score</th>
           </tr>
         </thead>
         <tbody>
         </tbody>
       </table> -->
 
       <!-- 
        The `defer` attribute causes the callback to execute after the full HTML
        document has been parsed. For non-blocking uses, avoiding race conditions,
        and consistent behavior across browsers, consider loading using Promises
        with https://www.npmjs.com/package/@googlemaps/js-api-loader.
       -->
      <footer class="footer" style="text-align: center;">
        <span class="bottom">&copy; Copyright Emily Porter, Christine Wells, John Hendricks, & Graham Burch 2022</span>
      </footer>
      <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdR4qNHUGc5d_OrRlCQfziX-cA_R4tfh0">
      </script>
 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
      <script src="../static/js/data.js"></script>
      <script src="../static/js/buildMap.js"></script>
      <script src="../static/js/app.js"></script>
 </body>
 </html>